{% extends "base.html" %}

{% block content %}
<section class="mb-5">
    <h2>Про себе</h2>
    <p>Я веб-розробник з більш ніж 5-річним досвідом у галузі створення високоякісних, динамічних веб-додатків та сайтів. Моя кар'єра розпочалася з невеликих проектів, і з часом я освоїв не лише основи веб-розробки, але й сучасні інструменти та фреймворки, що дозволяють створювати масштабовані та ефективні рішення. Я спеціалізуюся на бекенд-розробці з використанням Python і Flask, але також маю глибокі знання у фронтенді, використовуючи HTML, CSS і JavaScript для створення інтерактивних інтерфейсів користувача. Моя мета — постійне вдосконалення та впровадження нових технологій для створення інноваційних рішень.</p>

    <p>Мені подобається вирішувати складні технічні задачі, працювати над оптимізацією коду та розробляти рішення, що забезпечують зручний користувацький досвід. Я прагну працювати над проектами, що мають реальний вплив на бізнес і користувачів, використовуючи сучасні інструменти та кращі практики програмування.</p>

    <img src="{{ url_for('static', filename='images/author.jpg') }}" class="img-fluid rounded" alt="Автор">
</section>

<section class="mb-5">
     <h2>Освіта</h2>
    <p>Закінчив Прикарпатський національний університет імені Василя Стефаника, де отримав ступінь бакалавра в галузі інформаційних технологій. Під час навчання я зосередився на вивченні основних принципів програмування, алгоритмів та структур даних, а також на технологіях веб-розробки. Окрім академічних курсів, я активно брав участь у проектах, де мав можливість застосовувати свої знання на практиці. Моя остання курсова робота була присвячена розробці mySQL сервера.</p>

    <p>Постійне самонавчання є важливою частиною моєї професійної діяльності. Я регулярно проходжу онлайн-курси та семінари, пов'язані з новими технологіями та фреймворками, такими як Docker, Kubernetes, React, та інші.</p>
</section>

<section class="mb-5">
    <h2>Навички</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>HTML, CSS, JavaScript:</strong> Глибокі знання фронтенд-розробки, включаючи адаптивну верстку, оптимізацію для SEO та інтерактивні елементи. Використовую сучасні бібліотеки та фреймворки, такі як Bootstrap та React, для створення сучасних інтерфейсів користувача.</li>
        <li class="list-group-item"><strong>Python, Flask, Django:</strong> Основний стек для бекенд-розробки, з акцентом на розробку RESTful API, інтеграцію з базами даних та обробку запитів. Досвід у побудові складних веб-сервісів та роботи з мікросервісною архітектурою.</li>
        <li class="list-group-item"><strong>MySQL, PostgreSQL:</strong> Робота з реляційними базами даних, розробка складних SQL-запитів, оптимізація продуктивності та забезпечення безпеки даних.</li>
        <li class="list-group-item"><strong>Git та CI/CD:</strong> Управління версіями коду за допомогою Git, налаштування систем автоматичного деплою та інтеграції (GitHub Actions, Jenkins) для забезпечення безперервної доставки програмного забезпечення.</li>
        <li class="list-group-item"><strong>Docker та контейнеризація:</strong> Використовую Docker для контейнеризації додатків, що дозволяє розгортати їх на різних платформах без зміни налаштувань середовища.</li>
        <li class="list-group-item"><strong>Основи безпеки веб-додатків:</strong> Захист додатків від основних загроз, таких як SQL-ін'єкції, XSS та CSRF атаки, впровадження багаторівневого захисту.</li>

    </ul>
</section>

<section class="mb-5">
    <h2>Досвід роботи</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Проект 1:</strong> <em>Розробка веб-додатку для
            управління завданнями</em>. Цей додаток був побудований для внутрішнього використання у
            компанії та дозволяв відстежувати проекти, завдання та їх статуси. Я відповідав за розробку
            бекенду на Flask, створення бази даних та реалізацію логіки завдань, а також інтеграцію з
            фронтенд-інтерфейсом через RESTful API. Після впровадження додатку продуктивність команди зросла на
            30% завдяки автоматизації процесів управління завданнями.</li>

        <li class="list-group-item"><strong>Проект 2:</strong> <em>Інтеграція платіжних систем у веб-сайти</em>. Працював над інтеграцією популярних платіжних платформ (Stripe, PayPal) для інтернет-магазину. Цей проект вимагав глибоких знань у роботі з API, безпеки платіжних операцій та захисту даних користувачів. Розробив повний цикл платіжної обробки, включаючи верифікацію транзакцій та захист від шахрайства. В результаті магазин отримав надійний та зручний спосіб обробки онлайн-платежів, що збільшило конверсію покупок на 15%.</li>

        <li class="list-group-item"><strong>Проект 3:</strong> <em>Розробка соціальної платформи для взаємодії користувачів</em>. Я був відповідальний за створення бекенду платформи, що дозволяла користувачам реєструватися, створювати профілі, ділитися контентом та взаємодіяти через чати та коментарі. Для забезпечення масштабованості проекту використовував мікросервісну архітектуру та обробку асинхронних запитів за допомогою Celery. Платформа успішно витримала навантаження у понад 10 тисяч активних користувачів у день після запуску.</li>

    </ul>
</section>
{% endblock %}
