{% extends "base.html" %}

{% block content %}
<section>
    <h2>Про себе</h2>
    <p>Я досвідчений веб-розробник з великим досвідом роботи в створенні Інтернет додатків.</p>
</section>

<section>
    <h2>Освіта</h2>
    <p>ПНУ, ступінь бакалавра в галузі інформаційних технологій.</p>
</section>

<section>
    <h2>Навички</h2>
    <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>Python, Flask</li>
        <li>Робота з базами даних (MySQL, PostgreSQL)</li>
    </ul>
</section>

<section>
    <h2>Досвід роботи</h2>
    <ul>
        <li>Проект 1: Розробка веб-додатку для управління завданнями.</li>
        <li>Проект 2: Інтеграція платіжних систем у веб-сайти.</li>
    </ul>
</section>
{% endblock %}
